<div class="latest-product__text">
  <h4>{{ title }}</h4>
  <div class="latest-product__slider owl-carousel">
    <div class="latest-prdouct__slider__item" *ngFor="let group of productGroups">
      <a *ngFor="let product of group" routerLink="/shop-details/{{product.id}}" class="latest-product__item">
        <div class="latest-product__item__pic">
          <img [src]="product.thumbnail" alt="">
        </div>
        <div class="latest-product__item__text">
          <h6>{{ product.name }}</h6>
          <span>{{ product.price | currency:'USD' }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
