<div class="row">
  <div class="product__discount__slider owl-carousel">
    <div class="col-lg-4" *ngFor="let product of products">
      <div class="product__discount__item">
        <div class="product__discount__item__pic" [ngStyle]="{'background-image': 'url(' + product.thumbnail + ')'}" [routerLink]="['/product', product.id]">
          <div *ngIf="product.actualSalePercent" class="product__discount__percent">
            -{{ product.actualSalePercent }}%
          </div>
          <ul class="product__item__pic__hover">
            <li><a href="#"><i class="fa fa-heart"></i></a></li>
            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
        <div class="product__discount__item__text">
          <span>{{ categories[product.category_id] || '' }}</span>
          <h5><a [routerLink]="['/product', product.id]">{{ product.name }}</a></h5>
          <div class="product__item__price">
            <ng-container *ngIf="product.actualSalePercent != null && product.actualSalePercent > 0; else noDiscount">
              {{ (product.price * (1 - product.actualSalePercent / 100)) | currency:'USD' }}
              <span>
                {{ product.price | currency:'USD' }}
              </span>
            </ng-container>
            <ng-template #noDiscount>
              {{ product.price | currency:'USD' }}
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
